doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title=currentArticle.title + " | The Academy News"

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
        link(rel='stylesheet', href='../style/index.css')
        link(rel='stylesheet', href='../style/navs.css')
        link(rel='stylesheet', href='../style/cards.css')
        link(rel='stylesheet', href='../style/sections.css')
        link(rel='stylesheet', href='../style/responsive.css')
        link(rel='stylesheet', href='../style/article.css')
    body
        // make sure nav menu is closed on page load
        .sidenav-overlay(onclick='closeNav()')
        header
            // nav menu links
            #sidenav.sidenav
                a.closebtn(href='javascript:;', onclick='closeNav()')
                    i.fa.fa-times
                span.nav-item.title MENU
                a.nav-item(href='/') Home
                a.nav-item(href="/category/all") All
                a.nav-item(href='/category/sports') Sports
                a.nav-item(href='/category/stem') STEM
                a.nav-item(href='/category/studentlife') Student Life
                a.nav-item(href='/category/mkanews') MKA News
                a.nav-item(href='/coming_soon') About
            nav.navbar
                // nav bar
                .container
                    .row.align-items-center
                        .col
                            a.navbar-brand(href='javascript:;', onclick='openNav()')
                                i.fa.fa-bars.fa-lg(aria-hidden='true')
                        .col.text-center
                            a.navbar-brand(href='/')
                                img(src='../assets/logo.png', data-src-960px='', data-src-1260px='', alt='', height='100')
                        .col.text-right

        article.article
            //pre=JSON.stringify(currentArticle, null, 3)
            header.header
                .category
                h1.headline=currentArticle.title
                .meta
                    span.author
                        | by:&nbsp
                        span.author-name=currentArticle.author
                    span.pub-date=currentArticle.publishDate
            figure
                img(src=currentArticle.imageURL, width="100%")
                figcaption
                strong=currentArticle.photoCred
            main!=md(currentArticle.content)

        footer
            nav.navbar
                .container
                    .row
                        .col
                            span.navbar-text Created by Aaron Goidel
                        .col.text-right
                            span.navbar-text 2017 Montclair Kimberley Academy. All rights reserved.

        script(src='../scripts/nav.js')
