doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title The Academy News | MKA's Student Run Newspaper
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
        link(rel='stylesheet', href='../style/index.css')
        link(rel='stylesheet', href='../style/navs.css')
        link(rel='stylesheet', href='../style/cards.css')
        link(rel='stylesheet', href='../style/sections.css')
        link(rel='stylesheet', href='../style/responsive.css')
        link(rel='stylesheet', href='../style/article.css')
    body
        .sidenav-overlay(onclick='closeNav()')
        header
            #sidenav.sidenav
                a.closebtn(href='javascript:;', onclick='closeNav()')
                    i.fa.fa-times
                span.nav-item.title MENU
                a.nav-item(href='/') Home
                a.nav-item(href='/coming_soon') Sports
                a.nav-item(href='/coming_soon') About
            nav.navbar
                .container
                    .row.align-items-center
                        .col
                            a.navbar-brand(href='javascript:;', onclick='openNav()')
                                i.fa.fa-bars.fa-lg(aria-hidden='true')
                        .col.text-center
                            a.navbar-brand(href='#')
                                img(src='../assets/logo.png', height='100')
                        .col.text-right
                            .social-menu
                                a(href='javascript:;')
                                    i.fa.fa-facebook-official.fa-lg(aria-hidden='true')
                                a(href='javascript:;')
                                    i.fa.fa-twitter.fa-lg(aria-hidden='true')
                                a(href='javascript:;')
                                    i.fa.fa-instagram.fa-lg(aria-hidden='true')
                                a(href='javascript:;')
                                    i.fa.fa-youtube.fa-lg(aria-hidden='true')
        article.article
            header.header
                .category
                h1.headline=currentArticle.title
                .meta
                    span.author
                        | by:&nbsp
                        span.author-name=currentArticle.author
                    span.pub-date place holder
            figure
                img(src=currentArticle.imageURL)
                figcaption
                    strong=currentArticle.photoCred
            p=currentArticle.content


        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='../scripts/index.js')
